<!DOCTYPE html>
<html lang="en" dir="ltr">

<partial name="_Head" />

<body id="body">

    <div class="container d-flex flex-column justify-content-between vh-100">
        <div class="row justify-content-center mt-5">
            <div class="col-xl-5 col-lg-6 col-md-10">
                    @RenderBody()
            </div>
        </div>
        <div class="copyright pl-0">
            <p class="text-center">
                © 2020 Copyright
                <a class="text-primary" href="javascript:void(0)" target="_blank">IB130149</a>.
            </p>
        </div>
    </div>
    
    <partial name="_Scripts" />
</body>
</html>

