<footer class="footer mt-auto">
    <div class="copyright bg-white">
        <p>
            © <span id="copy-year">2020</span> Copyright Computer Repair Shop
            <a class="text-primary" href="#">IB130149</a>.
        </p>
    </div>
    <script>
                    var d = new Date();
                    var year = d.getFullYear();
                    document.getElementById("copy-year").innerHTML = year;
    </script>
</footer>