@using  IB130149.Models
@using  Microsoft.AspNetCore.Http
@using  IB130149.Helper;

@{
    User loggedInUser = Context.GetLoggedInuser();
}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<partial name="_Head" />

<body id="body" class="header-fixed sidebar-fixed sidebar-dark header-light">


    <div class="wraper">
        <partial name="_Sidebar.cshtml" />
        <div class="page-wrapper">
            <partial name="_Navigation.cshtml" />
            <div class="content-wrapper">
                <div class="content">
                    <div class="row">
                        <div class="col-lg-12">
                            @if (ViewContext.RouteData.Values["controller"].ToString().ToLower() != "home")
                            {
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            @Html.ActionLink("Home", "Index", "Home")
                                        </li>
                                        <li class="breadcrumb-item">
                                            @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index")
                                        </li>
                                        <li class="breadcrumb-item">
                                            @Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString())
                                        </li>
                                    </ol>
                                </nav>

                            }
                        </div>
                        <div class="col-lg-12">
                            <div class="card card-default text-dark">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <partial name="_Footer.cshtml" />
        </div>
    </div>


        <partial name="_Scripts" />
</body>
</html>

