<ul class="nav sidebar-inner" id="sidebar-menu-client">

    <li class="has-sub active expand">
        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#client" aria-expanded="false" aria-controls="client">
            <i class="mdi mdi-book-open-page-variant"></i>
            <span class="nav-text">Client panel</span> <b class="caret"></b>
        </a>
        <ul class="collapse show" id="client" data-parent="#sidebar-menu-client">
            <div class="sub-menu">

                <li class="section-title">
                    Main
                </li>

                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                    <a asp-action="Index" asp-controller="Home" asp-area="Client" class="sidenav-item-link">Overview</a>
                </li>

                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "New" ? "active" : "")">
                    <a asp-action="New" asp-controller="Service" asp-area="Client" class="sidenav-item-link">Request a Service</a>
                </li>

            </div>
        </ul>
    </li>
</ul>